@font-face {
    font-family: 'OpenSans SemiBold';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf');
}
body{
    background-color: #efefef;
}
.header{
    width: 100%;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    padding: 12px 32px;
    position: fixed;
}
.header img{
    width: 80px;
    margin-left: 40px;
    margin-right: auto;
}
.header a{
    font-size: 18px;
    padding: 12px 36px;
    cursor: pointer;
    background-color: #192732;
    border-radius: 6px;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    align-self: center;
    margin-left: auto;
}
.header a:hover{
    background-color:  #2a4254;
}
.header h1{
    align-self: center;
}

.navigation{
    margin-top: 105px;
    padding: 16px 0 0 28px;
    position: fixed;
    height: 100vh;
    width: 210px;
    position: fixed;
    background-color: #192732;
    display: flex;
    flex-direction: column;
}
.navigation a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
    padding: 12px 0px;
    transition: all 0.3s;
}
.navigation a:hover, #active{
    color: #5685ac;
}
#active{
    cursor:auto;
}

.content{
    padding-left: 210px;
    padding-top: 99px;
}
.content .container{
    background-color: white;
    margin: 32px 32px 0 32px;
    padding: 16px 32px;
    border-radius: 8px;
}

.dashboard{
    padding: 64px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
}
.dashboard .box{
    display: flex;
    background-color: #192732;
    width: 420px;
    height: 200px;
    border-radius: 16px;
    flex-direction: column;
    padding: 16px 24px;
}
.dashboard .box .icon{
    align-self: center;
    display: flex;
    justify-content: center;
}
.dashboard .box .icon img{
    width: 64px;
}
.dashboard .box .text{
    color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.dashboard .box .text p.title{
    font-size: 21px;
    font-family: 'OpenSans SemiBold';
    align-self: center;
}
.dashboard .box .text p.count{
    font-size: 48px;
    align-self: center;
}
