@font-face {
    font-family: 'OpenSans SemiBold';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf');
}
@keyframes slideInFromTop{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
body{
    background-color: #efefef;
}
.header{
    width: 100%;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    padding: 12px 32px;
    position: fixed;
}
.header img{
    width: 80px;
    margin-left: 40px;
    margin-right: auto;
}
.header a{
    /* font-size: 18px; */
    /* padding: 12px 36px; */
    cursor: pointer;
    /* background-color: #C60C29; */
    border-radius: 6px;
    color: white;
    /* transition: 0.5s; */
    text-decoration: none;
    align-self: center;
    /* margin-left: auto; */
    margin-right: 10px;
}
.header a img{
    width: 40px;
}
.header h1{
    align-self: center;
}
.header p{
    align-self: center;
    margin-left: auto;
    padding-right: 10px;
}

.navigation{
    margin-top: 105px;
    padding: 16px 0 0 28px;
    position: fixed;
    height: 100vh;
    width: 210px;
    position: fixed;
    background-color: #213159;
    display: flex;
    flex-direction: column;
}
.navigation a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
    padding: 12px 0px;
    transition: all 0.3s;
}
.navigation a:hover, #active{
    color: #3d6098;
}
#active{
    cursor:auto;
}

.content{
    padding-left: 210px;
    padding-top: 99px;
}
.content .container{
    background-color: white;
    margin: 32px 32px 0 32px;
    padding: 16px 32px;
    border-radius: 8px;
}

.dashboard{
    padding: 64px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
}
.dashboard .box{
    display: flex;
    background-color: #213159;
    width: 420px;
    height: 200px;
    border-radius: 16px;
    flex-direction: column;
    padding: 16px 24px;
}
.dashboard .box .icon{
    align-self: center;
    display: flex;
    justify-content: center;
}
.dashboard .box .icon img{
    width: 64px;
}
.dashboard .box .text{
    color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.dashboard .box .text p.title{
    font-size: 21px;
    font-family: 'OpenSans SemiBold';
    align-self: center;
}
.dashboard .box .text p.count{
    font-size: 48px;
    align-self: center;
}

.enrollees{
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.enrollees > form#filtration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* column-gap: 5%; */
}
.enrollees > form#filtration > .search > input[type='search']{
    border: #DDDDDD solid 2px;
    padding: 10px;
    width: 400px;
    border-radius: 16px;
    font-size: 18px;
}
.enrollees > form#filtration > .select-grade > select{
    border: #DDDDDD solid 2px;
    border-radius: 16px;
    font-size: 16px;
    padding: 5px;
}
.enrollees > form#filtration > .select-grade > label{
    font-size: 18px;
}
.enrollees > form#filtration > .search > input[type='submit'], .enrollees > form#filtration > .select-grade > input[type='submit'], .enrollees > form#manage-enrollees > .buttons > input[type='submit']{
    background-color: #213159;
    text-decoration: none;
    color: white;
    padding: 8px 32px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 500ms;
}
.enrollees > form#filtration > a{
    cursor: pointer;
}
.enrollees > form#manage-enrollees{
    display: block;
    overflow-x: auto;
    min-height: 300px;
    max-height: 300px;
    margin: 20px 10px;
}
.enrollees > form#manage-enrollees > table > thead > tr > th, .enrollees > form#manage-enrollees > table > tbody > tr > td{
    min-width: 100px;
    white-space: nowrap;
    padding: 15px 10px;
    text-align: center;
}
.enrollees > form#manage-enrollees > table > thead{
    background-color: #213159;
    color: white;
}
.enrollees > form#manage-enrollees > table, .enrollees > form#manage-enrollees > table > thead > tr > th, .enrollees > form#manage-enrollees > table > tbody > tr > td{
    border: 1px solid black;
    border-collapse: collapse;
}
.enrollees > form#manage-enrollees > .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    position: fixed;
    top: 82%;
    left: 70%;
}
.enrollees > form#manage-enrollees > .buttons >input.appear{
    transition: opacity 200ms ease-in, background-color 200ms ease-in;
    opacity: 0;
}
.enrollees > form#manage-enrollees > .buttons > #reject{
    background-color: #C60C29;
}
.enrollees > form#manage-enrollees > .buttons > #reject:hover{
    background-color: #CB243E;
}
.enrollees > form#manage-enrollees > .buttons > #accept:hover{
    background-color: #3d6098;
}

.small_box, .small_box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    top: 0%;
    left: 0%;
}
.small_box .container{
    animation: .5s ease-out 0s slideInFromTop;
    background-color: white;
    width: 450px;
    height: 250px;
    top: 20%;
    left: 35%;
    position: fixed;
    border-radius: 16px;
    overflow: scroll;
    overflow: auto;
    padding: 28px;
}
.small_box .container h1{
    font-size: 25px;
    text-align: center;
}
.small_box .container .action{
    padding: 40px 0;
    width: 100%;
    display: flex;
    column-gap: 10px;
}
.small_box .container .action a{
    width: 45%;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-controls{
    height: 430px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.admin-controls .sub-pages a{
    padding: 8px 32px;
    border-top: 2px solid #213159;
    border-left: 2px solid #213159;
    border-right: 2px solid #213159;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    color: black;
    transition: padding 250ms ease-in;
}
.admin-controls .sub-pages a:hover{
    padding-top: 12px;
}
.admin-controls .sub-pages #active-sub-page{
    padding: 8px 32px !important;
    background-color: #213159;
    color: white;
    border: none !important;
}
.admin-controls .sub-page-container{
    background-color: #213159;
    color: white;
    height: 420px;
    padding: 16px 32px;
    border-radius: 0px 5px 5px 5px;
    width: auto;
}
.sub-page-school-year{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.sub-page-school-year  .sub-page-header{
    font-size: 28px;
}
.school-year-content{
    display: flex;
    width: 100%;
    height: 300px;
}
.school-year-content > .left, .school-year-content > .right,.school-year-content > .right > a{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.school-year-content > .right > a{
    color: white;
    text-decoration: none;
}
.school-year-content > .right img{
    width: 200px;
    aspect-ratio: 1/1;
}
.sub-page-container > .small_box .action{
    justify-content: center;
    gap: 16px !important;
    padding: 16px 0 !important;
}
.sub-page-container > .small_box a{
    text-decoration: none;
    color: white;
    width: auto !important;
    padding: 8px 32px;
    border-radius: 5px;
    font-size: 16px !important;
}
.sub-page-container > .small_box h1{
    color: black !important;
}

.sub-page-container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}
.sub-page-container > form h1{
    padding-bottom: 60px;
    padding-top: 20px;
}
.sub-page-container > form input[type ="text"]{
    width: 30%;
    padding: 12px 8px;
    font-size: 20px;
    border-radius: 5px;
}
.sub-page-container > form input[type ="submit"]{
    padding: 8px 32px;
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #3d6098;
}

.sub-page-container > .alert-box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-box__container{
    background-color: white;
    min-height: 150px;
    width: 450px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    animation: .5s ease-out 0s slideInFromTop;
    justify-content: center;
    row-gap: 20px;
    padding: 20px 0;
}
.alert-box__container > p{
    color: black;
    font-family: 'OpenSans SemiBold';
    font-size: 24px;
    align-self: center;
}
.alert-box__container > p.sub{
    font-size: 18px;
    align-self: center;
    text-align: center;
}
.alert-box__container > button{
    cursor: pointer;
    background-color: #0D6EFD;
    color: white;
    align-self: center;
    padding: 8px 32px;
    font-size: 20px;
    border-radius: 8px;
}
.hidden-alert-box{
    opacity: 0;
}

.no-school-year__container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.no-school-year__container > a, a#print{
    background-color: #213159;
    text-decoration: none;
    color: white;
    padding: 8px 32px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 500ms;
}
.no-school-year__container > a:hover, a#print:hover{
    background-color: #3d6098;
}

.select-grade__container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.select-grade__container > .grade-levels{
    display: flex;
    column-gap: 12px;
}
.select-grade__container > .grade-levels > a{
    background-color: #213159;
    text-decoration: none;
    color: white;
    padding: 8px 32px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 500ms;
}
.select-grade__container > .grade-levels > a:hover{
    background-color: #3d6098;
}
.select-section__container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.select-section__container > .sections{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 75px);
    column-gap: 5px;
    row-gap: 12px;
}
.select-section__container > .sections > li{
    list-style-type: none;
    justify-self: center;
}
.select-section__container > .sections > li > a{
    background-color: #213159;
    text-decoration: none;
    color: white;
    padding: 8px 32px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 500ms;
}
.select-section__container > .sections > li > a:hover{
    background-color: #3d6098;
}
.select-section__container > #previous{
    align-self: flex-start;
    font-family: 'OpenSans SemiBold';
    font-size: 20px;
    text-decoration: none;
    color: #213159;
    transition: color 500ms;
}
.select-section__container > #previous:hover{
    color: #3d6098;
}

.student-list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    overflow: scroll;
    row-gap: 10px;
    background-color: white;
}
.student-list__container > table{
    width: 80%;
    border: 1px solid black;
}
.student-list__container > table > tbody{
    width: 100%;
}
.student-list__container > table > tbody > tr > th{
    width: 50%;
    padding: 15px 0;
}
.student-list__container > table, .student-list__container > table > tbody > tr > th, .student-list__container > table > tbody > tr > td{
    border:1px solid black;
    border-collapse: collapse;
}
.student-list__container > table > tbody > tr > td{
    padding-left: 15px;
}
