@font-face {
    font-family: 'OpenSans SemiBold';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf');
}
body{
    background-color: #efefef;
}
.header{
    width: 100%;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    padding: 12px 32px;
    position: fixed;
}
.header img{
    width: 80px;
    margin-left: 40px;
    margin-right: auto;
}
.header a{
    font-size: 18px;
    padding: 12px 36px;
    cursor: pointer;
    background-color: #192732;
    border-radius: 6px;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    align-self: center;
    margin-left: auto;
}
.header a:hover{
    background-color:  #2a4254;
}
.header h1{
    align-self: center;
}

.navigation{
    margin-top: 105px;
    padding: 16px 0 0 28px;
    position: fixed;
    height: 100vh;
    width: 210px;
    position: fixed;
    background-color: #192732;
    display: flex;
    flex-direction: column;
}
.navigation a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
    padding: 12px 0px;
    transition: all 0.3s;
}
.navigation a:hover, #active{
    color: #5685ac;
}
#active{
    cursor:auto;
}

.content{
    padding-left: 210px;
    padding-top: 99px;
}
.content .container{
    background-color: white;
    margin: 32px 32px 0 32px;
    padding: 16px 32px;
    border-radius: 8px;
}

.dashboard{
    padding: 64px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
}
.dashboard .box{
    display: flex;
    background-color: #192732;
    width: 420px;
    height: 200px;
    border-radius: 16px;
    flex-direction: column;
    padding: 16px 24px;
}
.dashboard .box .icon{
    align-self: center;
    display: flex;
    justify-content: center;
}
.dashboard .box .icon img{
    width: 64px;
}
.dashboard .box .text{
    color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.dashboard .box .text p.title{
    font-size: 21px;
    font-family: 'OpenSans SemiBold';
    align-self: center;
}
.dashboard .box .text p.count{
    font-size: 48px;
    align-self: center;
}

.enrollees {
    height: 450px;
    padding: 8px;
    overflow: scroll;
    overflow: auto;
}
.enrollees table{
    height: 200px;
    overflow: scroll;
    overflow: auto;
    text-align: center;
}
.enrollees table, .enrollees tr, .enrollees th, .enrollees td{
    border: #CCCCCC 1px solid;
    border-collapse: collapse;
    padding: 8px;
}

.enrollees td{
    white-space: nowrap;
}
.enrollees table tr.table-header{
    background-color: #eeeeee;
}
.enrollees .action{
    display: flex;
    border: none;
    justify-content: space-evenly;
    width: 200px;
}
.enrollees .action a{
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}
.enrollees .action #edit{
    background-color: #0D6EFD;
}
.enrollees .action #delete{
    background-color: #D83444;
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
.edit, .small_box, .small_box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    top: 0%;
    left: 0%;
}
.edit .enrollee-info{
    animation: .5s ease-out 0s slideInFromTop;
    background-color: white;
    width: 700px;
    height: 550px;
    top: 5%;
    left: 25%;
    position: fixed;
    border-radius: 16px;
    overflow: scroll;
    overflow: auto;
    padding: 28px;
}
.edit .enrollee-info #close-editor{
    cursor: pointer;
    margin-left: auto;
    position: fixed;
    left: 72%;
    aspect-ratio: 1/1;
    width: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edit .enrollee-info #close-editor:hover::after, .edit .enrollee-info #close-editor:hover::before{
    background-color: #2a4254;
}
.edit .enrollee-info #close-editor::after, .edit .enrollee-info #close-editor::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: #192732;
    transition: all 0.5s;
}
.edit .enrollee-info #close-editor::after{
    transform: rotate(-45deg);
}
.edit .enrollee-info #close-editor::before{
    transform: rotate(45deg);
}
.edit .enrollee-info .row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.edit .enrollee-info .row img{
    aspect-ratio: 1/1;
    width: 200px;
    border: 1px black solid;
    border-radius: 8px;
}
.edit .enrollee-info .student-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.edit .enrollee-info p{
    font-size: 20px;
    padding-top: 3px;
}
.edit .enrollee-info h1.title{
    text-align: center;
    width: 100%;
}
.edit .enrollee-info .action{
    width: 100%;
}
.edit .enrollee-info #confirm-enrollment, .small_box .container #yes, .small_box .container #proceed{
    background-color: #0D6EFD;
}
.edit .enrollee-info #delete, .small_box .container #cancel{
    background-color: #D83444;
}
.edit .enrollee-info .files{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.edit .enrollee-info .files a{
    color: inherit;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.small_box .container{
    animation: .5s ease-out 0s slideInFromTop;
    background-color: white;
    width: 450px;
    height: 250px;
    top: 20%;
    left: 35%;
    position: fixed;
    border-radius: 16px;
    overflow: scroll;
    overflow: auto;
    padding: 28px;
}
.small_box .container h1{
    font-size: 25px;
    text-align: center;
}
.small_box .container .action{
    padding: 40px 0;
    width: 100%;
}