@font-face {
    font-family: 'OpenSans SemiBold';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf');
}

body{
    background-color: #efefef;

}
span.required::before{
    color: red;
    content: "*";
}

.container{
    background-color: white;
    margin: 30px 7%;
    padding: 30px 7%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container .row{
    margin: 20px 0;
    display: flex;
    width: 100%;
}
.container .row .column{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container p.header{
    font-size: 24px;
    font-family: 'OpenSans SemiBold';
    letter-spacing: 1px;
}

.container label{
    font-size: 20px;
}

.container select#grade-level{
    font-size: 18px;
    border: #DDDDDD solid 2px;
    border-radius: 5px;
    padding: 2px;
}

.container .row > input, .container .row > .column > input, .container select#suffix{
    font-size: 18px;
    border: #DDDDDD solid 2px;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    transition: 0.5s;
}

.container .navigation img{
    width: 50px;
    cursor: pointer;
}

.container .radio-group{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.container .radio-group >*{
    cursor: pointer;
}

.container .row .column1{
    width: 25%;
}
.container .row .column2{
    width: auto;
}
.container .row .column2 input{
    cursor: pointer;
    border: #DDDDDD solid 2px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}
::-webkit-file-upload-button{
    background-color: #E9ECEF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.5s;
}
::-webkit-file-upload-button:hover{
    background-color: #dde0e2;
}
#submit{
    font-size: 18px;
    background-color: #192732;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 150px;
    transition: 0.5s;
}
#submit:hover{
    background-color:  #2a4254;
    
}
.next-page, #submit{
    margin-left: auto;
}

#page-2, #page-3, #page-4{
    display: none;
}