@font-face {
    font-family: 'OpenSans SemiBold';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf');
}

body{
    background-color: #efefef;

}
span.required::before{
    color: red;
    content: "*";
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes slideOut {
    0% {
        transform: translateY(-0%);
        opacity: 100%;
    }
    50%{
        opacity: 75%;
    }
    75%{
        opacity: 50%;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0%;
    }
}
.hidden{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    top: 0%;
    left: 0%;
}
.disappear{
    animation: .5s ease-out 0s slideOut;
}
.appear{
    animation: .5s ease-out 0s slideInFromTop;
}
#error-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 450px;
    position: fixed;
    top: 30%;
    left: 35%;
    border: red solid 2px;
    border-radius: 8px;
}
#error-box .title{
    font-family: 'OpenSans SemiBold';
    font-size: 20px;
    padding: 12px 16px;
    border-bottom: red solid 2px;
    width: 100%;
    text-align: center;
}
#error-box #error-message{
    font-size: 20px;
    padding: 40px 16px 24px 16px;
    width: 100%;
}
#error-box .action{
    display: flex;
    justify-content: right;
    padding: 8px 16px 16px 16px;
}
#error-box #ok{
    padding: 8px 24px;
    margin: 0 12px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6C757D;
}

dialog{
    animation: .5s ease-out 0s slideInFromTop;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    position: fixed;
    top: 30%;
    left: 35%;
    border: #DDDDDD solid 2px;
    border-radius: 8px;
}
dialog p.title{
    font-family: 'OpenSans SemiBold';
    font-size: 20px;
    padding: 12px 16px;
    border-bottom: #DDDDDD solid 2px;
}
dialog p.reminder{
    font-size: 20px;
    padding: 8px 16px;
    border-bottom: #DDDDDD solid 2px;
}
dialog .actions{
    display: flex;
    justify-content: right;
    padding: 8px 16px;
}
dialog .actions button{
    padding: 8px 24px;
    margin: 0 12px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
#return{
    background-color: #6C757D;
}
#continue{
    background-color: #007BFF;
}

.container{
    background-color: white;
    margin: 30px 7%;
    padding: 30px 7%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 90%;
    overflow: scroll;
    overflow: auto;
}
.container .row{
    margin: 20px 0;
    display: flex;
    width: 100%;
}
.container .row .column{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container p.header{
    font-size: 24px;
    font-family: 'OpenSans SemiBold';
    letter-spacing: 1px;
}

.container label{
    font-size: 20px;
}

.container select#grade-level{
    font-size: 18px;
    border: #DDDDDD solid 2px;
    border-radius: 5px;
    padding: 2px;
    transition: 0.5s;
}

.container .row > input, .container .row > .column > input, .container select#suffix{
    font-size: 18px;
    border: #DDDDDD solid 2px;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    transition: 0.5s;
}
.container .row input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.container .row input::-webkit-outer-spin-button,
.container .row input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
textarea:focus, input:focus{
    outline: none;
}

.container .navigation img{
    width: 50px;
    cursor: pointer;
}

.container .radio-group{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.container .radio-group >*{
    cursor: pointer;
}

.container .row .column1{
    width: 25%;
}
.container .row .column2{
    width: auto;
}
.container .row .column2 input[type='file']{
    cursor: pointer;
    border: #DDDDDD solid 2px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}

::-webkit-file-upload-button{
    background-color: #E9ECEF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.5s;
}
::-webkit-file-upload-button:hover{
    background-color: #dde0e2;
}
#submit{
    font-size: 18px;
    background-color: #192732;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 150px;
    transition: 0.5s;
}
#submit:hover{
    background-color:  #2a4254;
    
}
.next-page, #submit{
    margin-left: auto;
}

.data{
    font-family: 'OpenSans SemiBold';
    font-size: 18px;
    border-left: black solid 2px;
    padding-left: 5px;
}

#page-2, #page-3, #page-4, #page-5{
    display: none;
}