@font-face {
    font-family: 'DM Sans';
    src: url('../font/DM Sans/DMSans-Regular.ttf');
}

.enrollment-bg{
    width: 100%;
    height: 100%;
  }

  .enrollment-card-center{
    background-color: #ffffff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 92%;
    transform: translate(-50%, -50%);
}

.enrollment-card-content{
    margin-left: 5%; 
    margin-right: 5%;
}

.enrollment-card-firstpage{
    margin-top: 32px;
}

/*.dropdown-label{
    margin: 0 0px 0 0px;
    border: 2px solid black;
}*/

.grid-container {
    display: grid;
    grid-template-columns: 4fr 16fr;
    grid-gap: 00px;
}

.grid-container-upload{
    display: grid;
    grid-template-columns: 6fr 30fr;
    margin-top: 15px;
}

.dropdown-label, #gradelevel, .form-label, .form-control, .asterisk{
    font-size: 20px;
}

#gradelevel{
    border-radius: 5px;
    padding: 5px;
}

#gradelevel:hover{
    cursor: pointer;
}

header{
    margin-top: 12px;
    font-size: 25px;
}

.sub-header{
    margin-top: 2px;
    font-size: 17px;
}

.asterisk{
    color: red;
}

.form-group, .form-row{
    margin-top: 2%;
}

.align-right {
        text-align: right;
        border: 0;
}

.align-left {
    text-align: left;
    border: 0;
}

a{
    color: black;
}

.next-button-first{
    font-size: 50px;
    margin-top: 8px;
}

.next-button-first:hover, .prev-button-second:hover, .next-button-second:hover{
    color: #5685ac;
    cursor: pointer;
}

.enrollment-card-secondpage{
    margin-top: 40px;
}

.form-check-input{
    transform: scale(1.30);
}

input[type="radio"]{
    accent-color:#5685ac;
}

.form-check-label{
    font-size: 19px;
}

.calendar-picker:hover{
cursor: pointer;
}

.prev-button-second, .next-button-second{
    font-size: 50px;
    margin-top: 17px;
}


.enrollment-card-thirdpage{
    margin-top: 0px;
}

.prev-button-third, .next-button-third{
    font-size: 50px;
    margin-top: 8px;
}

.instructions{
    font-weight: 700;
    margin: 1px 0 2px 0;
}

.upload-label{
    font-size: 17px;
}

.custom-file{
    width: 28%;
    font-size: 17px;
}

.custom-file-input:hover{
    cursor: pointer;
}

.register-button{
    margin-top: 8px;
    padding: 7px 28px;
    border: none;
    border-radius: 5px;
    background-color: #192732;
    font-size: 18px;
}

.register-button:hover{
    background-color: #2a4254;
    cursor: pointer;
}

.dm-sans {
    font-family: 'DM Sans';
}